$color-gray-light: #f2f2f2;
$color-white: #fff;
$purple: #9a75e9;
$red: #ed1c24;
$color-green-light: #85fbc2;
$color-sea: #0f2543;
$container-max-width: 56.25rem;
$container-max-height: 39rem;
$color-blue-light: #cbd5e2;
$color-night-sky: #101920;
$color-spinner-ring: #426088;
$disabled: darken(grey, 25%);
