$color-gray-light: #f2f2f2;
$color-white: #fff;
$red: #ed1c24;
$color-sea: #0f2543;
$container-max-width: 56.25rem;
$color-blue-light: #cbd5e2;
$color-night-sky: #101920;
$color-hr-line: #1b3c68;
$disabled: darken(grey, 25%);
$color-primary: #1d385b;
